/* BoardView component */
.board-name {
  font-size: 40px;
  margin-top: 0;
}

.board-content {
  padding: 20px 30px;
  overflow-x: auto;
}

@media screen and (min-width: 576px) {
  .board-name {
    font-size: 48px;
  }

  .board-content {
    padding-left: 50px;
    padding-right: 50px;
  }
}

/* Column component */

.col {
  width: 210px;
  min-width: 210px;
  min-height: 200px;
  margin: 5px;
  background-color: #f0f0f0;
  border: 3px solid #1db9c3;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
}

.col-name-btn {
  border: none;
}

.col-name-btn:hover {
  border: 0.5px solid #292929;
}

.col-btn:hover {
  border: 0.5px solid #292929;
}

.col-edit-input {
  font-size: 18px;
  text-indent: 5px;
  border: 1px solid #1db9c3;
  margin-bottom: 5px;
  height: 30px;
}

/* Card component */
.card {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  padding: 0 10px;
  border: 2px solid #1db9c3;
  border-radius: 3px;
}

.card-label {
  height: 12px;
  width: 30px;
  margin: 0 2px;
  border-radius: 3px;
}

.card-name {
  margin: 5px 0;
  font-weight: 600;
  font-size: 20;
  text-align: left;
}

.card-name:hover {
  color: #1db9c3;
}

.card-btn {
  height: 25px;
  width: 25px;
}

.card-btn:hover {
  border: 0.5px solid #292929;
}
