/* AddForm/EditForm component */
.add-edit-modal {
  border: 3px solid #1db9c3;
  width: 420px;
  z-index: 2;
  border-radius: 3px;
}

.close-edit-btn {
  font-size: 20px;
  height: 30px;
  width: 30px;
  position: absolute;
  right: 10px;
  background-color: white;
  border: none;
}

.edit-form-header {
  width: 100%;
 text-align: center;
}

.form-btn {
  border: 2px solid #1db9c3;
  background-color: #eafeff;
  color: #f56fad;
  font-weight: 700;
}

.close-edit-btn:hover,
.form-btn:hover {
  color: #1db9c3;
}

/* CardModal component */

.card-modal {
  border: 3px solid #1db9c3;
  width: 300px;
  min-height: 200px;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  border-radius: 3px;
}

.card-btns-container {
  flex-direction: row-reverse;
  width: 100%;
}

.expanded-tags {
  font-size: 12px;
  width: 40px;
  height: 20px;
  margin: 2px;
  border-radius: 4px;
}

/* SubMenu Component  */

.color-btn {
  width: 100px;
  height: 20px;
  border: none;
}

.color-btn:hover {
  border: 1px solid black;
}

/* TagList component */

.remove-tag-btn {
  position: absolute;
  width: 15px;
  height: 100%;
  left: 100%;
  border: none;
  font-size: 12px;
}
