/* layout classes should be separated from other css */

/* breakpoints:
  1. min-width >= 576px (bootstrap sm)
  2. min-width >= 768px (bootstrap m)
 */

* {
  box-sizing: border-box;

  /* border: 1px solid red; */
}

.column-full,
.column-half,
.column-third {
  width: 100%;
}

@media screen and (min-width: 576px) {
  .column-half {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .column-third {
    width: 30%;
  }
}
