body {
  color: #292929;
  font-family: "Source Sans Pro", sans-serif;
}

i,
button {
  cursor: pointer;
}

button:active {
  transform: translateY(0.25rem);
}

/* utility classes */

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
  display: flex;
}

.white-bg {
  background-color: white;
}

.gray-text {
  color: #292929;
}

.pink-text {
  color: #f56fad;
}

.semi-bold {
  font-weight: 700;
}

.blue-bg {
  background-color: #eafeff;
}

.source-sans {
  font-family: "Source Sans Pro", sans-serif;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.no-border {
  border: none;
}

.teal-border-2 {
  border: 2px solid #1db9c3;
}

.align-center {
  align-items: center;
}

.width-100 {
  width: 100%;
}

.no-bullets {
  list-style-type: none;
}

.center-text {
  text-align: center;
}

/* PageHeader component */

.banner {
  border-bottom: 2px solid #292929;
  background-color: #1db9c3;
  width: 100%;
}

.nav-item {
  display: inline-block;
  margin-left: 10px;
  font-size: 22px;
  font-weight: 700;
}

/* links in nav bar */
a {
  text-decoration: none;
}

a:visited {
  color: #292929;
  text-decoration: none;
}

a:hover {
  color: #1db9c3;
}

/* tooltip */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  border-radius: 6px;
  background-color: rgb(18 17 18 / 49%);
  color: #eafeff;
  position: absolute;
  z-index: 2;
  bottom: 100%;
  font-size: 12px;
  padding: 5px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.icon-btn {
  background-color: #eafeff;
  border: none;
  font-size: 22px;
}

.icon-btn:hover {
  border: 0.5px solid #292929;
}
