body {
  color: #292929;
  font-family: "Source Sans Pro", sans-serif;
}

button {
  cursor: pointer;
}

/* utility classes */

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
  display: flex;
}

.white-bg {
  background-color: white;
}

.gray-text {
  color: #292929;
}

.pink-text {
  color: #f56fad;
}

.semi-bold {
  font-weight: 700;
}

.blue-bg {
  background-color: #eafeff;
}

.source-sans {
  font-family: "Source Sans Pro", sans-serif;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.no-border {
  border: none;
}

.teal-border-2 {
  border: 2px solid #1db9c3;
}

.align-center {
  align-items: center;
}

.width-100 {
  width: 100%;
}

.no-bullets {
  list-style-type: none;
}

.center-text {
  text-align: center;
}

/* PageHeader component */

.banner {
  border-bottom: 2px solid #292929;
  background-color: #1db9c3;
}

.header-text {
  margin-left: 20px;
}

.brand {
  display: flex;
}

.nav-item {
  display: inline-block;
  margin-left: 10px;
  font-size: 22px;
  font-weight: 600;
}

.top-nav {
  display: flex;
  margin: 10px 150px;
  width: 100%;
}

.btn:active {
  transform: translateY(0.25rem);
}

.icon-btn {
  background-color: #eafeff;
  border: none;
  font-size: 22px;
}

.icon-btn:hover {
  border: 0.5px solid #292929;
}

/* links in nav bar */

a {
  text-decoration: none;
}

a:visited {
  color: #292929;
  text-decoration: none;
}

a:hover {
  color: #1db9c3;
}

/* tag colors */

.yellow {
  background-color: #f2e82c;
}

.red {
  background-color: #f2300a;
}

.orange {
  background-color: #fa9a46;
}

.green {
  background-color: #0fd170;
}

.light-blue {
  background-color: #28c4eb;
}

.gray {
  background-color: #050636;
  color: white;
}

.blue {
  background-color: #1251e0;
  color: white;
}

.pink {
  background-color: #f22ce4;
}

.purple {
  background-color: #990af2;
}

/* tooltip */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  border-radius: 6px;
  background-color: rgb(18 17 18 / 49%);
  color: #eafeff;
  position: absolute;
  z-index: 2;
  bottom: 100%;
  font-size: 12px;
  padding: 5px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
