.add-edit-modal {
  border: 3px solid #1db9c3;
  width: 300px;
  z-index: 2;
}

.add-form {
  position: relative;
}

.add-btns-container {
  justify-content: space-between;
}

.task-col-title {
  margin: 10px 0;
}

.task-name-input {
  border: 2px solid #1db9c3;
  margin-left: 10px;
  color: #292929;
}

.description-input {
  margin-top: 10px;
}

.description-label {
  margin: 15px 0;
}

.form-btn {
  border: 2px solid #1db9c3;
  background-color: #eafeff;
  color: #f56fad;
  font-weight: 700;
}

.card-modal {
  border: 3px solid #1db9c3;
  width: 300px;
  height: 200px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1
}

.card-btns-container {
  flex-direction: row-reverse;
  width: 100%;
  position: relative;
}

.card-btns {
  border: 2px solid #1db9c3;
  width: 75px;
  height: 30px;
  font-size: 18px;
  margin: 0 10px;
}

.card {
  border: 2px solid #1db9c3;
}

.card-bottom {
  flex-direction: row-reverse;
}

.card-modal-description {
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}

.col-select {
  margin: 5px 10px;
  border: 2px solid #1db9c3;
}

.edit-btns {
  margin-top: 15px;
}

/* card select menu */

.card-col-select {
  position: absolute;
  top: 25px;
  width: 75px;
  border: 2px solid #1db9c3;
}

/* expanded card modal */

.expanded-description {
  text-align: left;
  margin: 10px 10px;
}

.expanded-btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.expanded-tags {
  font-size: 12px;
  padding: 2px;
  margin: 2px;
}

.expanded-tag-container {
  justify-content: flex-start;
  width: 100%;
}
/* add tag submenu  */

.sub-menu {
  position: absolute;
  width: 200px;
  top: 15px;
  right: 5px;
  border: 2px solid #1db9c3;
  padding: 10px;
  align-items: center;
}

.header-btn {
  font-size: 16px;
}

.color-btn {
  width: 75px;
  height: 20px;
}

.color-btn:hover {
  border: 2px solid #1db9c3;
}

.menu-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.label-item {
  width: 75px;
}

.tag-text-input {
  border: 2px solid #1db9c3;
  width: 60%;
  color: #292929;
  /* margin-right: 10px; */
}

.add-tag-btn {
  width: 40px;
  height: 25px;
}

.add-tag-btn:active {
  transform: translateY(0.25rem)
}
