.project-list {
  width: 500px;
  padding: 0;
}


.project-li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}

.project-item {
  padding: 0 10px;
  width: 50%;
  font-size: 22px;
  margin-right: 10px;
  border: none;
}

.project-item:hover {
  border: 0.5px solid #292929;
}

.add-project-btn {
  width: 200px;
  height: 60px;
  border: 3px solid #1db9c3;
  font-size: 22px;
  margin-top: 20px;
  border-radius: 5px;
}

.plus-icon-container {
  margin: 10px;
}

.confirm-delete-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  color:#292929;
  border: 3px solid #1db9c3;
  width: 300px;
}

.confirm-heading {
  font-size: 24px;
}

.confirm-text {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.confirm-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.confirm-btn {
  box-sizing: content-box;
  width: 75px;
  height: 40px;
  font-size: 20px;
  border: 2px solid #1db9c3;
}

.edit-element {
  height: 70px;
  display: flex;
  align-items: center;
}

.edit-input {
  height: 100%;
  font-size: 22px;
  text-indent: 5px;
  border: 2px solid #1db9c3;
}

.edit-btn {
  height:70px;
  font-weight: 400;
}

.board-link {

}
