/* layout classes should be separated from other css */

/* breakpoints:
  1. min-width >= 576px (bootstrap sm)
  2. min-width >= 768px (bootstrap m)
 */

* {
  box-sizing: border-box;
}

.hidden {
  visibility: hidden;
}

.show {
  visibility: visible;
}

.container {
  max-width: 75%;
  margin: 0 auto;
  /* padding: 0 1.5rem; */
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half,
.column-third {
  width: 100%;
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 900px;
  }

  /* .column-full,
  .column-half {
    padding: 0 0.75rem;
  } */

  .column-half {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .column-third {
    width: 30%;
  }
}
