body {
  color: #292929;
  font-family: "Source Sans Pro", sans-serif;
}

button {
  cursor: pointer;
}
/* utility classes */

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
  display: flex;
}

.teal-bg {
  background-color: #1db9c3;
}

.gray-text {
  color: #292929;
}

.pink-text {
  color: #f56fad;
}

.semi-bold {
  font-weight: 700;
}

.blue-bg {
  background-color: #eafeff;
}

.source-sans {
  font-family: "Source Sans Pro", sans-serif;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.no-border {
  border: none;
}

.align-center {
  align-items: center;
}

.width-100 {
  width: 100%;
}

.no-bullets {
  list-style-type: none;
}

.center-text {
  text-align: center;
}

/* other styles */
.banner {
  border-bottom: 2px solid #292929;
}

.logo {
  width: 80px;
  height: 80px;
}

.header-text {
  margin-left: 20px;
}

.brand {
  margin: 20px;
}

.nav-item {
  display: inline-block;
  margin-left: 10px;
}

.top-nav {
  margin-right: 50px;
  margin-left: 50px;
}

.icon-btn {
  background-color: #eafeff;
  border: none;
  font-size: 22px;
}

.icon-btn:hover {
  border: 0.5px solid #292929;
}

a {
  text-decoration: none;
}

a:visited {
  color: #292929;
  text-decoration: none;
}

.yellow {
  background-color: yellow;

}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.green {
  background-color: green;
  color: white;
}

.blue {
  background-color: blue;
  color: white;
}

.pink {
  background-color: pink;
}

.purple {
  background-color: purple;
}
